<section id="form" style="margin-top: -20px">
  <!--form-->
  <div class="container">
    <a
      href="/editpro5"
      style="background: #ee3e80;
  height: fit-content; width: fit-content;
  color: #ffffff;
  display: block;
  padding: 15px 32px; text-decoration: underline"
    >Chỉnh sửa thông tin</a>
    <div class="row col-sm-4">
      <h2 style="text-align: center">Phiếu giảm giá</h2>
      <!--tung phieu 1-->
      <div class="dropdown" style="padding-right: 15px">
        {{#each phieugiamgia}}
          <button class="dropbtn">{{this.MaPhieu}}</button>
          <div class="dropdown-content">
            <p>Tên phiếu:
              <span style="font-weight: normal">{{this.TenPhieu}}</span></p>
            <!--<p>Nội dung:
              <span style="font-weight: normal">{{this.NoiDung}}</span></p>-->
            <p>Phần trăm giảm giá:
              <span
                style="font-weight: normal"
              >{{this.PhanTramGiamGia}}</span></p>
            <p>Số tiền giảm:
              <span style="font-weight: normal">{{this.SoTienGiam}}</span></p>
            <p>Thời gian hiệu lực:
              <span
                style="font-weight: normal"
              >{{this.ThoiGianHieuLuc}}</span></p>
            <p>Thời gian hết hạn:
              <span
                style="font-weight: normal"
              >{{this.ThoiGianHetHan}}</span></p>
            <p>Đơn hàng áp dụng:
              <span style="font-weight: normal">{{this.DonHang}}</span></p>
            <p>Tình trạng:
              <span style="font-weight: normal">{{this.TinhTrang}}</span></p>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="row col-sm-4">
      <div class="signup-form" style="padding-right: 15px">
        <!--sign up form-->
        <h2>Thông tin Khách hàng</h2>
        <p>Họ tên</p>
        <p class="in4-content">{{thongtinkhachang.HoTenKhachHang}}</p>
        <p>Giới tính</p>
        <p class="in4-content">{{thongtinkhachang.GioiTinhKhachHang}}</p>
        <p>Ngày sinh</p>
        <p class="in4-content">{{thongtinkhachang.NgaySinhKhachHang}}</p>
        <p>Số nhà</p>
        <p class="in4-content">{{thongtinkhachang.SoNha}}</p>
        <p>Đường</p>
        <p class="in4-content">{{thongtinkhachang.TenDuong}}</p>
        <p>Thành phố</p>
        <p class="in4-content">{{thongtinkhachang.Tinh_ThanhPho}}</p>
        <p>Quận/Huyện</p>
        <p class="in4-content">{{thongtinkhachang.Quan_Huyen}}</p>
        <p>Phường/Xã</p>
        <p class="in4-content">{{thongtinkhachang.Phuong_Xa}}</p>
        <p>Số điện thoại</p>
        <p class="in4-content">{{thongtinkhachang.SDT}}</p>
      </div>
      <!--/sign up form-->
    </div>
    <div class="row col-sm-4">
      <div class="signup-form">
        <h2>Thông tin bé</h2>
        {{#each be}}
          <!--tung be mot-->
          <h4 style="color: #ff6ea4; font-weight: bold">Mã bé:
            <span style="font-weight: normal">{{this.MaBe}}</span></h4>
          <p>Họ tên</p>
          <p class="in4-content">{{this.TenBe}}</p>
          <p>Giới tính</p>
          <p class="in4-content">{{this.GioiTinh}}</p>
          <p>Ngày sinh</p>
          <p class="in4-content">{{this.NgaySinh}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</section>