<section id="form" style="margin-top: -20px">
    <!--form-->
    <div class="container" >
        <div class="row">
                <div class="signup-form" style="text-align: center">
                    <!--sign up form-->
                    <h2>Thông tin tài khoản</h2>
                    <form>
                        <input name="name" type="text" value={{user.HoTenKhachHang}} />
                        <input name="gen" type="text" value={{user.GioiTinhKhachHang}} />
                        <input name="date" type="text" value={{user.NgaySinhKhachHang}} />
                        <input name="sonha" type="text" value={{user.SoNha}} />
                        <input name="duong" type="text" value={{user.TenDuong}} />
                        <input name="phuongxa" type="text" value={{user.Tinh_ThanhPho}} />
                        <input name="quanhuyen" type="text" value={{user.Quan_Huyen}} />
                        <input name="tinh" type="text" value={{user.Phuong_Xa}} />
                        <input name="sodienthoai" disabled type="phone" value={{user.SDT}} />
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>