<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Sản phẩm</td>
            <td class="description"></td>
            <td class="price">Giá</td>
            <td class="quantity">Số lượng</td>
            <td class="total">Tổng tiền</td>
            <td></td>
          </tr>
        </thead>
        <tbody style="background-color: white">
          {{#each thongtingiohang}}
            <tr>
              <td class="cart_product">
                <a href=""><img
                    src="/images/home/bobby.jpg"
                    alt=""
                    width="150px"
                  /></a>
              </td>
              <td class="cart_description">
                <h4>
                  <a href="" style="font-weight: bold; font-size: 20px">
                    {{this.tensanpham}}</a>
                </h4>
                <p style="font-size: 10px">Mã sản phẩm: {{this.masanpham}}</p>
              </td>
              <td class="cart_price">
                <p>{{this.gia}}000</p>
              </td>
              <td class="cart_quantity">
                <div class="cart_quantity_button">
                  <a
                    class="cart_quantity_up"
                    href=""
                    style="font-weight: bold, color: #ee3e80"
                  > + </a>
                  <input
                    class="cart_quantity_input"
                    type="text"
                    name="quantity"
                    value={{this.soluong}}
                    autocomplete="off"
                    size="2"
                  />
                  <a
                    class="cart_quantity_down"
                    href=""
                    style="font-weight: bold, color: #ee3e80"
                  > - </a>
                </div>
              </td>
              <td class="cart_total">
                <p class="cart_total_price">{{this.tonggia}}000</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
        <!---->
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->

<section id="do_action">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="chose_area" style="background-color: white">
          <ul class="user_info">
            <div class="heading">
              <h3>Nhập mã khuyến mãi</h3>
            </div>
            <li class="single_field zip-field">
              <label>Zip Code:</label>
              <input type="text" />
            </li>
          </ul>
          <a class="btn btn-default update" href="">Áp dụng</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="total_area" style="background-color: white">
          <ul>
            <li style="font-weight: bold">
              Tổng tiền sản phẩm
              <span> $59</span>
            </li>
            <li style="font-weight: bold">VAT <span>5%</span></li>
            <li style="font-weight: bold">
              Phí vận chuyển
              <span>Free</span>
            </li>
            <li style="font-weight: bold">Giảm giá <span>$0</span></li>
            <li style="font-weight: bold">Tổng cộng <span>$61</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="chose_area" style="margin-top: -25px; background-color: white">
      <ul class="user_info">
        <div class="heading">
          <h3>Nhập thông tin giao hàng</h3>
        </div>
        <li class="single_field zip-field">
          <label>Họ và tên người nhận:</label>
          <input type="name" />
        </li>
        <li class="single_field zip-field">
          <label>Địa chỉ:</label>
          <input type="adress" />
        </li>
        <li class="single_field zip-field">
          <label>Số điện thoại:</label>
          <input type="phone2numeric" />
        </li>
        <li
          class="single_field zip-field"
          style="margin-bottom: 10px; margin-top: 20px"
        >
          <label for="cash">Hình thức thanh toán:</label>
          <select id="cash" name="cash" style="margin-bottom: 10px">
            <option value="cod">COD</option>
            <option value="visa">Visa</option>
            <option value="momo">Momo</option>
            <option value="zalo">Zalopay</option>
            <option value="vnpay">VNPay</option>
            <option value="atm">ATM</option>
          </select>
        </li>
        <li
          class="single_field zip-field"
          style="margin-bottom: 10px; margin-top: 20px"
        >
          <label for="delivery">Đơn vị vận chuyển:</label>
          <select id="delievery" name="delivery" style="margin-bottom: 10px">
            <option value="grab">Grab Express</option>
            <option value="viettel">Viettel</option>
            <option value="aha">Aha Move</option>
          </select>
        </li>
      </ul>
      <a
        class="btn btn-default update"
        href="/checkout"
        style="margin-top: -10px"
      >Đặt hàng</a>
    </div>
  </div>
</section>