
<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Sản phẩm</td>
            <td class="description"></td>
            <td class="price">Giá</td>
            <td class="quantity">Số lượng</td>
            <td class="total">Tổng tiền</td>
            <td></td>
          </tr>
        </thead>
        <tbody style="background-color: white">
          {{#each ThongTinGioHang}}
            <tr>
              <form method="POST" action="/cart/change/{{this.masanpham}}">
                <td class="cart_product">
                <a href=""><img
                    src="/images/home/bobby.jpg"
                    alt=""
                    width="150px"
                  /></a>
              </td>
              <td class="cart_description">
                <h4>
                  <a href="" style="font-weight: bold; font-size: 20px">
                    {{this.tensanpham}}</a>
                </h4>
                <p style="font-size: 10px">Mã sản phẩm: {{this.masanpham}}</p>
              </td>
              <td class="cart_price">
                <p>{{this.gia}}.000</p>
              </td>
              <td class="cart_quantity">
                <div class="cart_quantity_button">
                  <input
                    class="cart_quantity_input"
                    type="text"
                    name="quantity"
                    value={{this.soluong}}
                    autocomplete="off"
                    size="2"
                  />
                  <button type="submit" style="background: #1C6DD0;
                  height: fit-content; width: fit-content;
                  color: #ffffff;
                  display: block;">Cập nhật</button>
                </div>
              </td>
              <td class="cart_total">
                <p class="cart_total_price">{{this.tonggia}}.000</p>
              </td>
               </form>
            </tr>
          {{/each}}
        </tbody>
        <!---->
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->
<section id="do_action">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="chose_area" style="background-color: white">
          <ul class="user_info">
            <form method="POST" action="/cart/coupons">
            <div class="heading">
              <h3>Nhập mã khuyến mãi</h3>
            </div>
            <li class="single_field zip-field">
              <label>Zip Code:</label>
              <input name='id' type="text" />
            </li>
          </ul>
          <p style="margin-left: 40px; color: red">{{messages.magiamgia}}</p>
          <button class="btn btn-default update" type="submit">Áp dụng</button>
          </form>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="total_area" style="background-color: white">
          <ul>
            <li style="font-weight: bold">
              Tổng tiền sản phẩm
              <span>{{TongTienSanPham}}.000</span>
            </li>
            <li style="font-weight: bold">VAT <span>{{VAT}}%</span></li>
            <li style="font-weight: bold">
              Phí vận chuyển
              <span>{{PhiVanChuyen}}.000</span>
            </li>
            <li style="font-weight: bold">Giảm giá <span>{{GiamGia}}.000</span></li>
            <li style="font-weight: bold">Tổng cộng <span>{{TongCong}}.000</span></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="row">
		<div class="col-sm-6">
			<div class="checkout_area" style="margin-top: -25px; background-color: white">
				<div style="overflow-x:auto;">
					<div class="heading">
          			<h3>Thông tin đơn hàng</h3>
					  <p style="color:red; font-weight:bold">(Vui lòng kiểm tra kỹ trước khi đặt hàng!)</p>
        		</div>
  				<table>
    				<tr>
      					<th>Tên sản phẩm</th>
      					<th>Đơn Giá</th>
      					<th>Số lượng</th>
      					<th>Tổng tiền</th>
    				</tr>
					{{#each ThongTinGioHang}}
    				<tr>
      					<td>{{this.tensanpham}}</td>
      					<td>{{this.gia}}</td>
      					<td>{{this.soluong}}</td>
      					<td>{{this.tonggia}}</td>
    				</tr>
					{{/each}}
  				</table>
			</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="chose_area" style="margin-top: -25px; background-color: white">
				<form action="/cart/order" method="POST">
      <ul class="user_info">
        <div class="heading">
          <h3>Thông tin giao hàng</h3>
        </div>
		<li
          class="single_field zip-field"
          style="margin-bottom: 10px; margin-top: 20px"
        >
          <label for="address">Địa chỉ giao hàng:</label>
          <select id="address" name="address" style="margin-bottom: 10px">
            <option>COD</option>
          </select>
        </li>
        <li
          class="single_field zip-field"
          style="margin-bottom: 10px; margin-top: 20px"
        >
          <label for="cash">Hình thức thanh toán:</label>
          <select id="cash" name="cash" style="margin-bottom: 10px">
            <option value="COD">COD</option>
            <option value="VISA">Visa</option>
            <option value="MOMO">Momo</option>
            <option value="ZALO">Zalopay</option>
            <option value="VNPAY">VNPay</option>
            <option value="ATM">ATM</option>
          </select>
        </li>
        <li
          class="single_field zip-field"
          style="margin-bottom: 10px; margin-top: 20px"
        >
          <label for="delivery">Đơn vị vận chuyển:</label>
          <select id="delievery" name="delivery" style="margin-bottom: 10px">
            <option value="GrabExpress">Grab Express</option>
            <option value="Viettel">Viettel</option>
            <option value="AhaMove">Aha Move</option>
          </select>
        </li>
      </ul>
      <button
        class="btn btn-default update"
        style="margin-top: -10px"
      >Đặt hàng</button>
      </form>
			</div>
		</div>
	</div>
  </div>
</section>