<section>
  <div class="container">
    <div class="row">
      <ion-footer>
        <button
          onclick="topFunction()"
          id="myBtn"
          title="Go to top"
        >Top</button>
      </ion-footer>
      <div class="col-sm-12 padding-right">
        <div class="category-tab" id="category"><!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#suabot" data-toggle="tab">Sữa bột</a></li>
              <li><a href="#suatuoi" data-toggle="tab">Sữa tươi</a></li>
              <li><a href="#bimta" data-toggle="tab">Bỉm tã</a></li>
              <li><a href="#andam" data-toggle="tab">Ăn dặm</a></li>
              <li><a href="#cssk" data-toggle="tab">Chăm sóc sức khỏe</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="suabot">
              <!--sua bot-->
              {{#each suabot}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">
                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="suatuoi">
              <!--sua bot-->
              {{#each suatuoi}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">
                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="bimta">
              <!--sua bot-->
              {{#each bimsua}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">

                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="andam">
              <!--sua bot-->
              {{#each andam}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">

                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="cssk">
              <!--sua bot-->
              {{#each cssk}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">
                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div><!--/category-tab-->
        <div class="category-tab" id="brand"><!--brand-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a
                  href="#ensure"
                  data-toggle="tab"
                >Ensure</a></li>
              <li><a href="#pedisure" data-toggle="tab">Pedisure</a></li>
              <li><a href="#huggies" data-toggle="tab">Huggies</a></li>
              <li><a href="#bobby" data-toggle="tab">Bobby</a></li>
              <li><a href="#johnson" data-toggle="tab">Johnson Baby</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="ensure">
              <!--sua bot-->
              {{#each ensure}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">
                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="pedisure">
              <!--sua bot-->
              {{#each pedisure}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">

                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="huggies">
              <!--sua bot-->
              {{#each huggies}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">

                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="bobby">
              <!--sua bot-->
              {{#each bobby}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">

                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="tab-pane fade" id="johnson">
              <!--sua bot-->
              {{#each baby}}
                <div class="product-image-wrapper col-sm-3">
                  <div class="productinfo text-center">

                    <img
                      src="/images/home/pediasure.png"
                      alt=""
                      style="height: 200px; width: 200px; margin-bottom: 20px"
                    />
                    <h2>{{this.DonGia}} VND</h2>
                    <p style="font-weight: bold">{{this.TenSanPham}}</p>
                    <form
                      method="POST"
                      action="/product-details/{{this.MaSanPham}}?_method=POST"
                    >
                      <button
                        type="submit"
                        class="btn btn-default add-to-cart"
                      >Xem</button>
                    </form>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div><!--/brand-tab-->
        <div class="features_items" id="sale"><!--features_items-->
          <h2 class="title text-center" style="color:blueviolet">Khuyến mãi</h2>
          <!--sp khuyen mai-->
          {{#each khuyenmai}}
            <div class="product-image-wrapper col-sm-3">
              <div class="productinfo text-center" style="height: 450px">

                <img
                  src="/images/home/pediasure.png"
                  alt=""
                  style="height: 250px; width: 250px; margin-bottom: 20px"
                />
                <h2>{{this.DonGia}} VND</h2>
                <p style="font-weight: bold">{{this.TenSanPham}}</p>
                <form
                  method="POST"
                  action="/product-details/{{this.MaSanPham}}?_method=POST"
                >
                  <button
                    type="submit"
                    class="btn btn-default add-to-cart"
                  >Xem</button>
                </form>
              </div>
            </div>
          {{/each}}
        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>