<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Sản phẩm</td>
            <td class="description"></td>
            <td class="price">Giá</td>
            <td class="quantity">Số lượng</td>
            <td class="total">Tổng tiền</td>
            <td></td>
          </tr>
        </thead>

        {{#each data}}
        <tbody style="background-color: white">
            <tr>
                <td class="cart_product">
                  <a href=""><img
                      src="/images/home/bobby.jpg"
                      alt=""
                      width="150px"
                    /></a>
                </td>
                <td class="cart_description">
                  <h4>
                    <a href="" style="font-weight: bold; font-size: 20px">
                      {{this.TenSanPham}}</a>
                  </h4>
                  <p style="font-size: 10px">Mã sản phẩm: {{this.MaSanPham}}</p>
                </td>
                <td class="cart_price">
                  <p>{{this.Gia}}000 VND</p>
                </td>
                <td class="cart_quantity">
                  <p class="cart_total_price">{{this.SoLuong}}</p>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price">{{this.DonGia}}000 VND</p>
                </td>
            </tr>
        </tbody>
        {{/each}}
        <!---->
      </table>
    </div>
  </div>
</section>