<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Mã đơn hàng</td>
            <td class="description">Thời gian đặt hàng</td>
            <td class="quantity">Số lượng</td>
            <td class="price">Tổng tiền</td>
            <td class="state">Tình trạng</td>
            <td></td>
          </tr>
        </thead>
        <tbody style="background-color: white">
          {{#each orders}}
            <tr>
              <td class="cart_product">
                <a href="/order-detail" style="font-size: 16px">{{this.MaDonHang}}</a>
              </td>
              <td class="cart_description">
                <h4>
                  {{this.ThoiGianDatHang}}
                </h4>
              </td>
              <td class="cart_quantity">
                <div class="cart_quantity_button">
                  <p class="cart_quantity_input">{{this.TongSanPham}}</p>
                </div>
              </td>
              <td class="cart_price">
                <p>{{this.TongTien}}000</p>
              </td>
              <td class="cart_state">
                <p class="cart_state">{{this.TinhTrang}}</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->