<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-9 padding-right">
        <div class="product-details">
          <form
            method="POST"
            action="/product-details/add/{{thongtinsanpham.MaSanPham}}?_method=POST"
          >
            <!--product-details-->
            <div class="col-sm-5">
              <div class="view-product">
                <img src="/images/home/bobby.jpg" alt="" />
              </div>
            </div>
            <div class="col-sm-7">
              <div class="product-information">
                <!--/product-information-->
                <h2 style="font-size: 30px; font-weight: bold">
                  {{thongtinsanpham.TenSanPham}}
                </h2>
                <p style="color: #ffaaca !important">MSP:
                  {{thongtinsanpham.MaSanPham}}</p>
                <span
                  style="color: #ee3e80; font-size: 30px; font-weight: bold"
                >{{thongtinsanpham.DonGia}}.000VND</span>
                <!--Mo ta-->
                <p style="font-weight: normal"><b style="color:#3567d7">Mô tả
                    sản phẩm:
                  </b>
                  {{thongtinsanpham.Mota}}</p>
                <!--Loai-->
                <p style="font-weight: normal"><b
                    style="color:#3567d7"
                  >Loại:</b>
                  {{thongtinsanpham.TenLoai}}</p>
                <!--ThuongHieu-->
                <p style="font-weight: normal"><b style="color:#3567d7">Thương
                    hiệu:</b>
                  {{thongtinsanpham.TenThuongHieu}}</p>
                <!--So Luong con lai-->
                <p style="font-weight: normal"><b style="color:#3567d7">Số lượng
                    còn lại:</b>
                </p>
                <button
                  class="btn btn-fefault cart"
                  style="margin-top: 20px"
                  id="show-pop"
                >
                  CHỌN MUA
                </button>
              </div>
              <!--/product-information-->
            </div>
          </form>
        </div>
        <!--pop up-->
        <!--/product-details-->
        <!--/category-tab-->
        <div class="recommended_items" style="margin-top: -30px">
          <!--recommended_items-->
          <h2
            class="title text-center"
            style="color: #3567d7; font-size: 20px; font-weight: bold"
          >
            Sản phẩm thường mua cùng
          </h2>

          <div
            id="recommended-item-carousel"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    {{#each sanphammuacung}}
                      <div class="productinfo text-center">
                        <img
                          src="/images/home/bobby1.jpg"
                          alt=""
                          style="height:192px; width: 192px; margin-bottom: 40px"
                        />
                        <h2 style="margin-top: -10px">{{this.Gia}}
                          .000VND</h2>
                        <p style="font-weight: bold">{{this.Ten}}</p>
                        <button
                          type="button"
                          class="btn btn-default add-to-cart"
                        >
                          XEM
                        </button>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
            <a
              class="left recommended-item-control"
              href="#recommended-item-carousel"
              data-slide="prev"
            >
              <i class="fa fa-angle-left"></i>
            </a>
            <a
              class="right recommended-item-control"
              href="#recommended-item-carousel"
              data-slide="next"
            >
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!--/recommended_items-->
      </div>
    </div>
  </div>
  <div class="popup">
    <div class="close-btn">&times;</div>
    <div class="form">
      <p>Sản phẩm được thêm vào giỏ hàng!</p>
    </div>
  </div>
</section>